<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!--在控制台显示生成的SQL语句,便于学习 -->
		<property name="show_sql">true</property>
		<!--格式化控制台显示的SQL语句,便于查看 -->
		<property name="format_sql">true</property>
		<!-- <mapping resource="config/hbm/User.hbm.xml"/> -->
		<mapping class="com.pojo.User"/>
	</session-factory>
</hibernate-configuration>